/* ----------------------------------------------------------------------------
 * Common
 * ------------------------------------------------------------------------- */
body
{
    margin: 1em 0 0 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: "verdana", "arial", "sans-serif";
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* ----------------------------------------------------------------------------
 * Main Layout
 * ------------------------------------------------------------------------- */
#limit
{
    text-align: center;
    margin-bottom: 2em;
}

#elapsed {
    margin-top: 2em;
}

#info {
    margin-top: 2em;
}

#options {
    margin-top: 2em;
}

/* ----------------------------------------------------------------------------
 * Classes
 * ------------------------------------------------------------------------- */

table {
    margin: 0 auto;
}

td {
    width: 2.5em;
    height: 2.5em;
    font-size: 2.5em;
    cursor: pointer;
    border: 0.1em solid transparent;
    border-radius: 0.5em;
}